.tim-row {
  margin-bottom: 20px;
}

.tim-white-buttons {
  background-color: #777777;
}

.typography-line {
  padding-left: 25%;
  margin-bottom: 35px;
  position: relative;
  display: block;
  width: 100%;
}

.typography-line span {
  bottom: 10px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  position: absolute;
  width: 260px;
  text-transform: none;
}

.tim-row {
  padding-top: 60px;
}

.tim-row h3 {
  margin-top: 0;
}

.offline-doc .page-header {
  display: flex;
  align-items: center;
}

.offline-doc .footer {
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}

@media all and (min-width: 992px) {
  .sidebar .nav>li.active-pro {
    position: absolute;
    width: 100%;
    bottom: 10px;
  }
}

.card.card-upgrade .card-category {
  max-width: 530px;
  margin: 0 auto;
}

.top-nav {
  padding: 20px;
  font-size: 2em;
}

.divider {
  color: #fff;
  font-weight: lighter;
  padding-left: 5px;
  padding-right: 5px
}

.fa-search-box {
  border-color:  #2b3553 !important;
  border:none;
  border-bottom: 1px solid;
}

.search-city-input {
  border:none;
  border-radius: 0;
  border-bottom: 1px solid #2b3553;
}

.input-group-focus > .input-group-prepend > .fa-search-box {
  border-color: #e14eca !important;
}

.water-details {
  padding: 0 15px 0;
  color: #fff;
}

.temperature {
  font-size: 4em;
  align-content: center;
}

.pollution {
  font-size: 2em;
  text-transform: uppercase;
}

.pro-tip {
  text-transform: uppercase;
  font-size: 3em;
  line-height: 3em;
}
.support-text {
  margin-left: 0;
}

.link-style {
  border:none !important;
  background-color: transparent !important;
}